// Make main container a fixed size column.
// TODO: Make this work better on mobile devices.
#main-container {
    margin: 0 auto;
    max-width: 800px;
    min-height: 100vh;
}

.header {
    padding-top: 30pt;

    img#headshot {
        width: 150px;
    }
}

.footer {
    img#ferris {
        width: 100px;
    }
}

.nav {
    margin: 1em 0;

    a {
        margin: 0 1em;
    }
}

.divider {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 3pt 0;
}

.section {
    padding-top: 0pt;
}

.subtitle {
    margin-bottom: 0 !important;
}
