// Make main container a fixed size column.
#main-container {
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
}

#main-section {
    /* We want it to take up the extra space that the header and footer aren't using */
    flex-grow: 1;
}

.header {
    padding-top: 30pt;
    flex-grow: 0;

    img#headshot {
        width: 150px;
        clip-path: circle();
    }

    #my-name {
        line-height: 0.5;
    }

    #tagline {
        margin-bottom: 0.5rem;
    }
}

.footer {
    #ferris-container {
        width: 100px;
        display: inline-block;
    }

    #ferris-container:hover {
        transform: rotate(5deg);
    }
}

.nav {
    margin: 1rem 0;

    a {
        margin: 0 1rem;
    }
}

.divider {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 3pt 0;
}

.section {
    padding: 0;
}

p {
    margin: 1rem;
    margin-top: 0;
}

ul {
    margin: 1rem 3rem;
    margin-top: 0;
}

.title {
    display: block;
    text-align: center;
    margin: 1rem auto !important;
}

.subtitle {
    margin-bottom: 0 !important;
}

.project-links {
    text-align: center;

    a {
        padding: 1pt;
    }
}

.pagination {
    display: flex;

    span {
        flex-grow: 0;
        min-width: 5em;
    }

    p {
        flex-grow: 1;
    }
}
