// Dark theme colors
// http://scg.ar-ch.org/
$background-color-dark: #352F44;
$foreground-color-dark: #2A2537;
$title-color-dark: rgb(248, 242, 242);
$subtitle-color-dark: #EEE;
$text-color-dark: rgb(248, 242, 242);
$text-color-strong-dark: rgb(255, 255, 255);
$heading-color-dark: rgb(253, 151, 31);
$link-color-dark: rgb(111, 157, 204);
$divider-top-color-dark: rgb(85, 85, 85);
$divider-bottom-color-dark: rgb(128, 128, 128);

body {
    background: $background-color-dark;
    color: $text-color-dark;
    font-family: 'Kanit', sans-serif;
}

ul {
    list-style: circle;
    margin-left: 1.5em;
    margin-bottom: 5pt;
}

.header {
    .title a {
        color: $text-color-dark;
        text-decoration: none;
    }
}

.footer {
    /* For some reason bulma was making it white */
    background: $background-color-dark;
}

.columns {
    /* For some reason bulma adds some negative margin to columns which makes them hard to align */
    margin: 0 !important;
}

.cw-panel {
    background: $foreground-color-dark;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.02);
}

a {
    color: $link-color-dark;
}

strong {
    color: $text-color-strong-dark;
    font-weight: bold;
}

.divider {
    border-top-color: $divider-top-color-dark;
    border-bottom-color: $divider-bottom-color-dark;
}

.title {
    color: $title-color-dark;
}

.subtitle {
    color: $subtitle-color-dark;
}

.project-images {
    text-align: center;
}
