@import url('https://themes.googleusercontent.com/fonts/css?kit=cJLRyNNdbfauG58nyHg_907PHvigsIdfeR0a_7INJ6xbV0WvE1cEyAoIq5yYZlSc');

body {
  font-family: 'EB Garamond', serif;
  line-height: 1.0;
}

header {
  text-align: center;
  line-height: 1.15;
}

nav {
  text-align: center;
}

nav a {
  margin-left: 1em;
  margin-right: 1em;
}

a {
  text-decoration: none;
}

iframe {
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 18pt;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 72pt;
}

h2 {
  font-size: 14pt;
  font-weight: 700;
}

h3 {
  font-size: 12pt;
  font-weight: 700;
}

img {
  max-width: 560px;
}

#wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

#projects article {
  margin-bottom: 2em;
}
