<h2 id="about">ABOUT</h2>
<p>Enthusiastic software engineer with a diverse range of skills and interests. Primary experience in <strong>C++</strong> writing <strong>high performance 3d visualisation software</strong>, with a side passion for <strong>Haskell</strong> and <strong>functional programming</strong>. Professional interests include <strong>3d graphics</strong>, <strong>machine learning</strong>, <strong>automation</strong>, and <strong>reverse engineering</strong>. Self taught <strong>hardware hacker</strong> and intermediate <strong>Japanese</strong> speaker. Fast learner and eager to diversify.</p>
<h2 id="professional-experience">PROFESSIONAL EXPERIENCE</h2>
<h3 id="software-engineer-scrum-master">Software Engineer, Scrum Master</h3>
<p>Virtalis Ltd, 2015 - Present</p>
<p>Developed high performance 3d visualisation software for industry, geoscience, and training, primarily in C++.</p>
<p>Notable accomplishments include:</p>
<ul>
<li>Created a real time volumetric sky rendering system for use in training scenarios</li>
<li>Developed a visual testing framework for verifying the rendering of the numerous types of data we support</li>
<li>Implemented real time streaming of large geoscience data to 3d visualisations</li>
<li>Integrated various third party VR and input hardware, often with minimal or no documentation</li>
<li>Designed prototype interactive hardware for customer systems to interface with our software solutions</li>
</ul>
<h3 id="co-founder-lead-programmer">Co-founder, Lead Programmer</h3>
<p>Pillowdrift Ltd, 2013 - 2015</p>
<p>Helped found an independent game development studio developing mobile and PC games. Our technologies included a mixture of C# and Java, and Node web services.</p>
<p>In addition to programming, responsibilities involved managing the outcomes of the product, breaking down work and organising team members, and communicating with outside influences on the company such as partners, freelancers, press and event staff.</p>
<h2 id="other-experience">OTHER EXPERIENCE</h2>
<h3 id="web-development-system-administration">Web development / System administration</h3>
<p>I’ve run a number of online communities including a game server network specialising in MMOs and retro games.</p>
<ul>
<li>Deployed and maintained servers for web services and online games and communication software</li>
<li>Developed custom server software to interact with existing software</li>
</ul>
<h3 id="game-translation-and-modification">Game translation and modification</h3>
<p>I’ve undertaken translation projects to take games created in foreign languages and produce patches that allow the online fan community to play the game in English, which has involved:</p>
<ul>
<li>Reverse engineering, to insert a new, translated script into the game and work out how to modify assets accordingly</li>
<li>Producing tooling for translators, so that the script can be updated without technical expertise and inserted back into the game</li>
<li>Communicated with original creators in order to collaborate with them</li>
</ul>
<p>Additionally I’ve modified other games in order to add new content or features, for example adding networking support to a game that doesn’t already have it. This has involved:</p>
<ul>
<li>Reverse engineering to add new code or assets</li>
<li>DLL/function hijacks and hooks</li>
<li>Emulating components (e.g. server software)</li>
</ul>
<h3 id="hardware-hacking">Hardware hacking</h3>
<p>I’ve designed and built various pieces of hardware including portable versions of game consoles, game controllers, esoteric musical instruments, robots, and a full CNC machine. In the process I’ve become familiar with CAD software, 3d printing and electronics.</p>
<h2 id="skills">SKILLS</h2>
<ul>
<li>C++ / C# / Java / Haskell / Javascript</li>
<li>CUDA / OpenCL / OpenGL / DirectX</li>
<li>Windows and Linux development</li>
<li>Imperative, Object-oriented and Functional programming</li>
<li>High performance and distributed computing</li>
<li>AWS and web services, systems administration</li>
<li>Electronics, CAD and 3d printing</li>
</ul>
<h2 id="education">EDUCATION</h2>
<p>Bachelor of Science, Computer Games Programming</p>
<h2 id="dissertation">DISSERTATION</h2>
<p>Real-time GPU Ray Tracing with Heterogeneous Volumetric Effects</p>
<p><a href="https://cat.bio/dissertation.pdf">https://cat.bio/dissertation.pdf</a></p>
