---
title: Projects
layout: overall_layout.njk
pagination:
  data: collections.project
  size: 5
  reverse: true
  alias: projects
---
{%- for project in projects -%}
<div id="projects">
<article class="project">
<h2>{{ project.data.title }}</h2>
<p>{{ project.data.date | formatDate }}</p>
{{ project.templateContent | safe }}
<a href="{{ project.url }}">Read more...</a>
</article>
{%- endfor -%}

<div style="display: flex; margin-top: 1em">
  <a href="{{ pagination.previousPageHref }}" style="flex: 1 1 auto">Previous Page</a>
  <p style="flex: 1 1 auto;text-align: center; margin-top: 0">Page {{ pagination.pageNumber }}</p>
  <a href="{{ pagination.nextPageHref }}" style="flex: 1 1 auto;text-align: right">Next Page</a>
</div>
</div>
