---
layout: layout.njk
title: Projects | cat.bio
pagination:
  data: collections.project
  size: 5
  reverse: true
  alias: projects
---
{%- for project in projects -%}
<article>
<h2>{{ project.data.title }}</h2>
<p>{{ project.data.date.toLocaleDateString(undefined, {day:"2-digit",month:"2-digit",year:"numeric"}) }}</p>
{{ project.templateContent | safe }}
<a href="{{ project.url }}">Read more...</a>
<br>
</article>
{%- endfor -%}

<div style="display: flex; margin-top: 1em">
  <a href="{{ pagination.previousPageHref }}" style="flex: 1 1 auto">Previous Page</a>
  <p style="flex: 1 1 auto;text-align: center; margin-top: 0">Page {{ pagination.pageNumber }}</p>
  <a href="{{ pagination.nextPageHref }}" style="flex: 1 1 auto;text-align: right">Next Page</a>
</div>
