<div class="cw-panel-block">
    {% if page.extra.images %}
    <div class="project-images">
        {% for image_path in page.extra.images %}
            {% set thumbnail = resize_image(path=image_path, width=150, height=112,
                op="fill", format="jpg", quality=100) %}
            <a href="{{ image_path }}" target="_blank">
                <img src="{{ thumbnail.url }}"></img>
            </a>
        {% endfor %}
    </div>
    {% endif %}

    <div class="project-links">
        {% if page.extra.link %}
        <a href="{{ page.extra.link }}">[link]</a>
        {% endif %}
        {% if page.extra.download_link %}
        <a href="{{ page.extra.download_link }}">[download]</a>
        {% endif %}
        {% if page.extra.video_link %}
        <a href="{{ page.extra.video_link }}">[video]</a>
        {% endif %}
        {% if page.extra.source_link %}
        <a href="{{ page.extra.source_link }}">[source code]</a>
        {% endif %}
    </div>

    {{ page.content | safe }}
</div>
