<header class="header has-text-centered is-flex-align-items-flex-end">
    <div class="container columns is-centered is-vcentered">
        <div class="column is-narrow is-centered">
            <img id="headshot" src="/images/headshot.jpg">
        </div>
        <div class="column is-narrow">
            <h1 class="title is-1" id="my-name">
                <a href="/">Caitlin Wilks</a>
            </h1>
            <p id="tagline">Programming language and tech skills polyglot</p>
            cat@cat.bio<br>
            <a href="https://github.com/catchouli">github.com/catchouli</a>
            {% include "nav.html" %}
        </div>
    </div>
</header>
