{% extends "base.html" %}

{% block content %}
    {% set about_md=get_page(path="_about.md") %}
    {% set interests_md=get_page(path="_interests.md") %}
    {% set project_md=get_page(path="projects/better-tactics.md") %}

    <div class="columns">
        <div class="cw-panel column is-two-thirds">
            <p class="cw-panel-heading title is-3">
                About
            </p>
            <div class="cw-panel-block">
                {{ about_md.content | safe }}
            </div>
        </div>
        <div class="cw-panel column">
            <p class="cw-panel-heading title is-3">
                Interests
            </p>
            <div class="cw-panel-block">
                {{ interests_md.content | safe }}
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="cw-panel column">
            <p class="cw-panel-heading title is-3">
                Featured project - {{ project_md.title }}
            </p>
            <div class="cw-panel-block">
                {% set page=project_md %}
                {% set summary_only=true %}
                {% include "_project_info.html" %}
                <p><a href="{{ page.permalink }}">Read more...</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
